<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="MOBI_BOT_FILE_APPENDER" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="5MB" />
		<param name="MaxBackupIndex" value="2" />
		<param name="file" value="/home/bcbot/logs/mobibot.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t][%c] %m%n" />
		</layout>
	</appender>
	
<!-- Loggers -->
	<logger name="xyz.sergevas.iot.mobibot" additivity="false">
		<level value="debug" />
		<appender-ref ref="MOBI_BOT_FILE_APPENDER" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="debug" />
		<appender-ref ref="MOBI_BOT_FILE_APPENDER" />
	</root>
</log4j:configuration>
